.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    max-width: 1100px;
    width: 100%;
}

.dashboardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLeft, .headerRight {
    display: flex;
    gap: 20px;
}

.headerItem {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.headerItem .today {
    font-size: 26px;
    font-weight: bold;
}

.headerItem .date {
    font-size: 16px;
    color: #666;
}

.headerItem .streak {
    display: flex;
    align-items: center;
    gap: 4px;
}

.headerItem .streakValue {
    font-size: 26px;
    font-weight: bold;
}

.headerItem .streakLabel {
    font-size: 14px;
    color: #666;
    text-transform: uppercase;
    white-space: pre-wrap;
    line-height: 1;
}

.dashboardControls {
    display: flex;
    gap: 10px;
}

.dashboardControl {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    flex: 1;
    gap: 10px;
}

.dashboardControlIcon {
    width: 14px;
    height: 14px;
}

.dashboardContent {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.dashboardItem {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    background-color: #111;
    flex-grow: 0;
    box-sizing: border-box;
}

.half {
    max-width: calc((100% / 2) - 5px);
    flex-basis: calc((100% / 2) - 5px);
}

.third {
    max-width: calc((100% / 3) - 6.66px);
    flex-basis: calc((100% / 3) - 6.66px);
}

.dashboardItemHeader {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.dashboardItemTitle {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboardItemControl {
    background-color: #222;
    padding: 10px;
}

.dashboardItemDescription {
    font-size: 14px;
    color: #666;
}

.dashboardItemContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    gap: 20px;
}

.dashboardItemList {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 -30px -30px -30px;
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: none;
}

.dashboardItemListNode {
    background-color: #222;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-bottom: 1px;
}

.caloriesContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progressCircle {
    position: relative;
    width: 120px;
    height: 120px;
}

.progressCircle svg {
    transform: rotate(-90deg) scaleY(-1);
}

.progressCircle circle {
    fill: none;
    stroke-width: 10%;
}

.progressCircle .background {
    stroke: #e0e0e0;
}

.progressCircle .progress {
    stroke: rgb(83, 83, 202);
    stroke-dasharray: 280;
    stroke-dashoffset: 80;
    transition: stroke-dashoffset 0.5s;
}

.progressText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: none;
}

.progressText .value {
    font-size: 20px;
    font-weight: bold;
}

.progressText .label {
    font-size: 12px;
}

.caloriesDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
}

.caloriesDetailsItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}

.caloriesDetailsItem .title {
    color: #999;
}

.caloriesDetailsItem .value {
    font-weight: bold;
}

.macrosContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.macrosItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.macrosItem .title {
    font-size: 16px;
    font-weight: bold;
}

.macrosItem[data-type='protein'] .progressCircle .progress {
    stroke: green
}

.macrosItem[data-type='carbs'] .progressCircle .progress {
    stroke: purple;
}

.macrosItem[data-type='fat'] .progressCircle .progress {
    stroke: orange;
}

.meals {
    display: flex;
    flex-direction: column;
}

.mealDetails {
    display: flex;
    flex-direction: column;
}

.listNodeTitle {
    font-size: 16px;
    font-weight: bold;
}

.listNodeDescription {
    font-size: 14px;
    color: #999;
}

.waterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 20px;
}

.waterContainer .progressCircle {
    align-self: center;
}

.waterContainer .progressCircle .progress {
    stroke: rgb(83, 148, 202);
}

.waterDetails {
    display: flex;
    justify-content: space-between;
}

.waterDetailsItem {
    display: flex;
    flex-direction: column;
}

.waterDetailsItem .title {
    font-size: 14px;
    color: #999;
}